[submodule "lib/SimpleMQTTGateWayStack"]
	path = lib/SimpleMQTTGateWayStack
	url = ../../HEYAHONG/SimpleMQTTGateWayStack.git
[submodule "csdk"]
	path = csdk
	url = ../../HEYAHONG/Luat_CSDK_Air724U.git
[submodule "lib/jsoncpp/jsoncpp"]
	path = lib/jsoncpp/jsoncpp
	url = ../../HEYAHONG/jsoncpp.git
[submodule "lib/protobuf-c/protobuf-c"]
	path = lib/protobuf-c/protobuf-c
	url = ../../HEYAHONG/protobuf-c.git
