
config APP_ENTER_MESSAGE
    string "app enter message"
    default "APP Start"
config APP_EXIT_MESSAGE
    string "app exit message"
    default "APP Exit"

config APP_DEBUG
    bool "debug mode"
    default y

menu "CPP"

source "${PROJECT_PATH}/cpp.Kconfig"

endmenu
