
config APP_ENTER_MESSAGE
    string "app enter message"
    default "APP Start"
config APP_EXIT_MESSAGE
    string "app exit message"
    default "APP Exit"

config APP_DEBUG
    bool "debug mode"
    default n

menuconfig APP_AUTOMOUNT_FLASH
    bool "internal flash filesystem automount"
    default y

if APP_AUTOMOUNT_FLASH

config APP_AUTOMOUNT_FLASH_PATH
    string "automount path"
    default "/filesystem"

endif


menu "CSDK App"

source "csdk.Kconfig"

endmenu

menu "CPP"

source "cpp.Kconfig"

endmenu

menu "NetWork"

source "network.Kconfig"

endmenu

menu "AppStack"

source "appstack/appstack.Kconfig"

endmenu


